@import "./../../style.scss";

.cta-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @include breakpoint($bp-md) {
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
  }
}
