@import './../../style.scss';

.wrapper {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.header {
  .heading {
    color: $color-white;
  }
}