@import './../../style.scss';

.header {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;

  .heading {
    color: $color-white;
    font-size: 3rem;
  }
}
